.hero {
    display: flex;
}

.hero {
    position: relative;
}

@media only screen and (min-width: 1000px) {
    .hero .hero-container,
    .hero ._24n_m0l8w-d0pV8kmWhwyF {
        width: 50%;
        min-height: calc(100vh - 73px - 60px);
    }
}

.hero .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 7vw;
    padding-right: 7vw;
}

.hero .hero-container,
.hero ._24n_m0l8w-d0pV8kmWhwyF {
    position: relative;
}

.hero-major-changes._2_8nZHCEKfuDTz-7xOkpMl {
    margin-top: 32px;
    margin-bottom: 32px;
}

.hero-major-changes.hero-container-margin {
    margin-bottom: 32px;
}

.hero-font-style {
    font-weight: 800;
    font-size: 64px;
    line-height: 110%;
}

.span-container {
    position: relative;
}

.span-container .span-background-style {
    position: relative;
    z-index: 1;
}

.span-container.span-background .QypgFBYhh1uMDyXIF8L4A {
    background: #c1f3fe;
}

.svg._1K954f7VHrpJcxUTNi_9yh {
    display: inline-block;
    height: 0.7em;
    width: auto;
    vertical-align: middle;
    fill: currentColor;
    position: relative;
    z-index: 1;
}

@media only screen and (min-width: 1000px) {
    .hero .hero-container ._11HaXE-4RuCi8QRuiFV7mQ {
        max-width: 470px;
    }
}

.hero-major-changes.hero-container-margin {
    margin-bottom: 32px;
}

.CzZmJ6hN7S9obBfKd0_ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

.hero-major-changes._3oiScRAq6oc9Ct3OMj5NGX {
    padding: 8px;
}

._38OcQHNQQ3p6RU9v1pX4zQ {
    display: flex;
    align-items: center;
    border-radius: 100px;
    border: 1px solid #1d1d28;
    box-shadow: 3px 3px 0px #1d1d28;
    background-color: #fff;
}

._38OcQHNQQ3p6RU9v1pX4zQ {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

.hero-major-changes._262-VJ3cK4lUaCpWy5VcZW {
    margin-left: 16px;
    margin-right: 16px;
}

._38OcQHNQQ3p6RU9v1pX4zQ .eJZk0z-fqyyoq2j50S9_b svg {
    width: 20px;
    height: auto;
}

._38OcQHNQQ3p6RU9v1pX4zQ ._15p5Qloh_CCP_o9FbrBMaN {
    margin-right: 2px;
}

._38OcQHNQQ3p6RU9v1pX4zQ ._3-kw0PniaqcQWJdWtRDl3z {
    background: transparent;
    border-radius: 0;
    flex: 1;
    margin: 0;
    padding: 0;
    cursor: inherit;
    border: none;
    appearance: none;
    font: inherit;
}

._38OcQHNQQ3p6RU9v1pX4zQ ._2xrBtwVFVCVMI0ZOVNTOA2 {
    white-space: nowrap;
}

.hero-major-changes._1FcBEpryJUwkWErcHrlXR_ {
    padding-left: 24px;
    padding-right: 24px;
}

.hero-major-changes.T_YmFjtNnTLaOXdnGbAc6 {
    padding-top: 16px;
    padding-bottom: 16px;
}

._2bFTsP4fuxDT032gJgpb-A._2QQ_vK-tKcrjTX_xhHPfNB {
    cursor: pointer;
}

._1JpqDpdb11OTIEYgAz8Vw6 {
    cursor: pointer;
    border-radius: 100px;
    font-weight: 800;
    background: #1d1d28;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

._1JpqDpdb11OTIEYgAz8Vw6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

@media only screen and (min-width: 1000px) {
    .hero .hero-container,
    .hero ._24n_m0l8w-d0pV8kmWhwyF {
        width: 50%;
        min-height: calc(100vh - 73px - 60px);
    }
}

.hero .hero-container,
.hero ._24n_m0l8w-d0pV8kmWhwyF {
    position: relative;
}

@media only screen and (min-width: 1000px) {
    .hero ._24n_m0l8w-d0pV8kmWhwyF ._2NJ9t42lCwt7Qrs9Nm577c {
        position: absolute;
        z-index: 1;
        height: 85%;
        max-height: 40vw;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .hero ._24n_m0l8w-d0pV8kmWhwyF ._3tl1NyYIOtRblm0ntsZdHo {
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
        border-left: 1px solid #1d1d28;
        background-color: #c4dffd;
    }
}
