.footerContainer {
    text-align: center;
    padding-top: 88px;
    padding-bottom: 88px;
    background: #1a1a1a;
  }
  
  .footerStyle {
    padding: 44px 22px;
  } 
  
  .footerStyle .logoStyle {
    margin-bottom: 11px;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: #fff;
  }
  
  .footerStyle .copyrightStyle {
    font-size: 11px;
    color: #8f8f8f;
  }
  
  ._3nFMpSuIGSZeuRcGcDYk84:not(:last-child) {
    border-bottom: solid 1px #dfe0e1;
    border-color: #4d4d4d;
    background: #1a1a1a;
}
._3nFMpSuIGSZeuRcGcDYk84 {
    padding: 44px 22px;
}
._4GuKNkSSZTNAtNyT0eTxD .eZ6tBh1i2hbqTCHCJyPKf {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

._4GuKNkSSZTNAtNyT0eTxD ._1Iml24BEMYtkMAcHyf2VkV {
    font-size: 13px;
}
.eZ6tBh1i2hbqTCHCJyPKf {
    margin: auto;
    max-width: 1000px;
}

._2bFTsP4fuxDT032gJgpb-A._2QQ_vK-tKcrjTX_xhHPfNB {
    cursor: pointer;
}

._2bFTsP4fuxDT032gJgpb-A {
    text-decoration: none;
    color: inherit;
    user-select: none;
    display: block;
}

._10Hf1OacuwJKwIMBRZtQVJ._168g5XRV67n8R7jIH1v1ic {
    color: #8f8f8f;
}

._4GuKNkSSZTNAtNyT0eTxD ._1AW5rzuRm7MHVzQGOgVntJ {
    fill: #fff;
    width: 30px;
    height: auto;
}

._4GuKNkSSZTNAtNyT0eTxD ._1pi87WN3hMCwDacyqp4Kjs {
    display: flex;
    justify-content: center;
}

._4GuKNkSSZTNAtNyT0eTxD ._2g5wXO2Qh2AY6ZPMJdWKcd {
    margin-left: 22px;
}

._2bFTsP4fuxDT032gJgpb-A._2QQ_vK-tKcrjTX_xhHPfNB {
    cursor: pointer;
}

._2bFTsP4fuxDT032gJgpb-A {
    text-decoration: none;
    color: inherit;
    user-select: none;
    display: block;
}
