.XYLu0JcL9KwJ0O1EuzeER {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(1, 50vw);
}

._1mzS0KVu8gnnxqWODgwDxh {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding: 7vw;
    display: flex;
    flex-direction: column;
    line-height: 40%;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #1d1d28;
    border-bottom: 1px solid #1d1d28;
}

._3Q9qlbuGoKl-V5hsBl8kTS {
    font-weight: 800;
    font-size: 64px;
    line-height: 110%;
}

.U2fLB7rVVldEnYc2UBHgW {
    position: relative;
}

.U2fLB7rVVldEnYc2UBHgW ._2aExLWZu5SRFHmo5isCvoC {
    position: relative;
    z-index: 1;
}

.U2fLB7rVVldEnYc2UBHgW ._2dqn9PHs6g_dl32HtphgHZ .QypgFBYhh1uMDyXIF8L4A {
    background: #c4dffd;
}

.U2fLB7rVVldEnYc2UBHgW .QypgFBYhh1uMDyXIF8L4A {
    position: absolute;
    top: 0.85em;
    bottom: 0.15em;
    left: -3%;
    right: -3%;
}

.uLqrT6O7HuazamXj_oy6s._1K954f7VHrpJcxUTNi_9yh {
    display: inline-block;
    height: 0.7em;
    width: auto;
    vertical-align: middle;
    fill: currentColor;
    position: relative;
    z-index: 1;
}

._2S_MWl1fCBQ1UmxokijNx9._3n63Y2i4jLRzEeCfYqwT_U {
    margin-bottom: 24px;
}

.CzZmJ6hN7S9obBfKd0_ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

._1FcBEpryJUwkWErcHrlXR_ {
    padding-left: 24px;
    padding-right: 24px;
}

._2S_MWl1fCBQ1UmxokijNx9.T_YmFjtNnTLaOXdnGbAc6 {
    padding-top: 16px;
    padding-bottom: 16px;
}

._2bFTsP4fuxDT032gJgpb-A._2QQ_vK-tKcrjTX_xhHPfNB {
    cursor: pointer;
}

._1JpqDpdb11OTIEYgAz8Vw6 {
    cursor: pointer;
    border-radius: 100px;
    font-weight: 800;
    background: #1d1d28;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

._1JpqDpdb11OTIEYgAz8Vw6 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
}

._3NOHGT9Ow3WJD4I_W6_mNE {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: repeat(2, 25vw);
    grid-template-rows: repeat(2, 25vw);
}

.qSNPWQ4I0iQxm4UZRqZA8, ._2-5cuDhNwRktEVXjvHPsnR, .k6QH6U_ZkWL6KerZRwUyd, ._1bmnsbjW6mkRWyizqHl618 {
    padding: 3.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.qSNPWQ4I0iQxm4UZRqZA8 {
    background-color: #c4dffd;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-right: 1px solid #1d1d28;
    border-bottom: 1px solid #1d1d28;
}

._2-5cuDhNwRktEVXjvHPsnR {
    background-color: #f4def6;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    border-bottom: 1px solid #1d1d28;
}

.k6QH6U_ZkWL6KerZRwUyd {
    background-color: #a5dfca;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border-right: 1px solid #1d1d28;
    border-bottom: 1px solid #1d1d28;
}

._1bmnsbjW6mkRWyizqHl618 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    border-bottom: 1px solid #1d1d28;   
    background-color: #fed6b3;
}

.qSNPWQ4I0iQxm4UZRqZA8 .YAKIkMSdW7oBZ0U8WTd6N,
._2-5cuDhNwRktEVXjvHPsnR .YAKIkMSdW7oBZ0U8WTd6N,
.k6QH6U_ZkWL6KerZRwUyd .YAKIkMSdW7oBZ0U8WTd6N,
._1bmnsbjW6mkRWyizqHl618 .YAKIkMSdW7oBZ0U8WTd6N {
    max-height: 115px;
}

._2S_MWl1fCBQ1UmxokijNx9._149h_WAl6XNNGWAebyZKEh {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}
